.block-content--type-people {
.field--name-field-personnel.field__items,
    .views-row {
        text-align: center;

        &>.field__item,
        .node--type-personnel {
            display: block;
            margin-top: 15px;

            .group-left {
                position: relative;

                &>.field__item {
                    width: 100% !important;
                }

                .field--name-field-position {
                    position: absolute;
                    margin-left: 0px;
                    bottom: 0px;
                    width: 100%;
                    background: rgba(0, 39, 76, 0.8);
                    color: #fff;
                    padding: 5px 0 3px 0;
                    font-size: 0.778rem;
                    text-align: center;

                    &>.field__item {
                        width: 100% !important;
                        padding: 0;
                        margin-top: 0;
                    }
                }
            }

            .field--name-node-title {
                font-family: 'Avenir-Medium', sans-serif;
                font-size: 1.111em;
                line-height: 30px;
                letter-spacing: 0;
                color: #0d57aa;
                text-align: center;
                display: block;
                margin: 45px 0 3px 0;

                h3 {
                    font-size: 1rem;
                }
            }

            .field--name-field-email {
                font-size: 0.889em;
                line-height: 24px;
                letter-spacing: 0;
                color: #0d57aa;
                text-align: center;
                display: block;
                margin: 5px 0;
            }

            .field--name-field-phone-number {
                font-size: 0.889em;
                line-height: 24px;
                letter-spacing: 0;
                text-align: center;
                display: block;
                margin: 5px 0;

                a {
                    color: #555555 !important;
                }
            }
        }
    }

    .field--name-field-title {
        font-family: 'Avenir-Medium', sans-serif;
        font-size: 1.111em;
        text-align: center;
        letter-spacing: -0.21px;
        border-bottom: 4px solid #ffcb05;
        padding-bottom: 13px;
    }
}


// media SCSS
@media (min-width: 568px) {

    // pepole
    .block-content--type-people {
        .field--name-field-personnel.field__items {
            margin: 0 -15px;
            letter-spacing: -0.31em;

            &>.field__item {
                .group-left {

                    // position: relative;
                    &>.field__item {
                        width: 100% !important;
                    }
                }

                display: inline-block;
                width: 50%;
                padding: 0 15px;
                letter-spacing: 0;
                vertical-align: top;
            }
        }
    }
    }


@media (min-width: 768px) {
    //pepole
    .block-content--type-people {
        .field--name-field-personnel.field__items {
            &>.field__item {
                width: 25%;

                .group-left {

                    // position: relative;
                    &>.field__item {
                        width: 100% !important;
                    }
                }

                .field--name-node-title {
                    h3 {
                        font-size: 0.88rem !important;
                    }
                }

            }
        }
        
    }
}


@media (min-width: 1024px) {  
    .block-content--type-people {
        .field--name-field-personnel.field__items,
        .views-row {

            &>.field__item,
            .node--type-personnel {
                .group-left {
                    &>.field__item {
                        width: 100% !important;
                    }
                }

                .field--name-node-title {
                    h3 {
                        font-size: 1.111em !important;
                    }
                }
            }

        }
    }
}
