/**
 * Clearfix
*/
/**
 * Buttons
*/
.box {
  padding: 10px 30px; }

/**
 * Css3 Extensions
*/
/**
 * Flex
*/
/**
 * Invisible
*/
.node-form fieldset {
  border: 0;
  padding: 0; }
  .node-form fieldset legend {
    font-family: 'Open Sans Bold', sans-serif;
    font-weight: 600;
    padding: 0; }

.node-form .fieldset-wrapper {
  padding: 10px 0 0;
  letter-spacing: -.31em;
  text-rendering: optimizespeed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start; }
  .node-form .fieldset-wrapper .form-wrapper {
    letter-spacing: 0.01em;
    width: 100%; }
    .node-form .fieldset-wrapper .form-wrapper fieldset {
      padding: 0;
      width: 100%;
      margin: 0; }
      .node-form .fieldset-wrapper .form-wrapper fieldset legend {
        font-size: 0.667em;
        font-family: 'Open Sans SemiBold', sans-serif; }
    .node-form .fieldset-wrapper .form-wrapper .fieldset-wrapper {
      letter-spacing: 0.01em;
      display: block;
      margin: 0; }
    .node-form .fieldset-wrapper .form-wrapper.filter-wrapper {
      display: none; }
  .node-form .fieldset-wrapper .js-form-type-radio label {
    display: inline;
    margin: 0; }
  .node-form .fieldset-wrapper .field--type-datetime .fieldset-wrapper {
    margin: 0 -10px;
    letter-spacing: 0.01em;
    display: block; }
    .node-form .fieldset-wrapper .field--type-datetime .fieldset-wrapper:after {
      content: "";
      display: table;
      clear: both; }
    .node-form .fieldset-wrapper .field--type-datetime .fieldset-wrapper .form-item {
      float: left;
      width: 30%;
      padding: 0 10px; }
      .node-form .fieldset-wrapper .field--type-datetime .fieldset-wrapper .form-item:nth-child(3n+1) {
        clear: both; }
      .node-form .fieldset-wrapper .field--type-datetime .fieldset-wrapper .form-item:nth-child(3n) {
        width: 40%; }
  .node-form .fieldset-wrapper .field--type-datetime div.chosen-container-single .chosen-single {
    line-height: 57px;
    height: 59px;
    background: #fff;
    font-size: 18px; }
    .node-form .fieldset-wrapper .field--type-datetime div.chosen-container-single .chosen-single div b {
      background-position: 0px 19px; }
  .node-form .fieldset-wrapper .field--widget-entity-browser-entity-reference summary {
    font-size: 0.667em;
    font-family: 'Open Sans SemiBold', sans-serif;
    display: block;
    margin: 0 0 5px; }
  .node-form .fieldset-wrapper .field--widget-entity-browser-entity-reference iframe {
    z-index: 1; }
  .node-form .fieldset-wrapper .field--widget-entity-browser-entity-reference .form-wrapper {
    padding-left: 0;
    padding-right: 0;
    width: 100%; }
    .node-form .fieldset-wrapper .field--widget-entity-browser-entity-reference .form-wrapper > details {
      display: none; }

.node-form .form-item label {
  display: block;
  margin: 0 0 5px; }
  .node-form .form-item label .field-edit-link {
    display: none; }

.node-form .form-item .form-text, .node-form .form-item .form-email, .node-form .form-item .form-tel {
  width: 100%;
  border: 1px solid #979797;
  border-radius: 5px;
  display: block;
  font-size: 18px;
  max-width: 100%;
  padding: 16px; }
  .node-form .form-item .form-text:focus, .node-form .form-item .form-text:hover, .node-form .form-item .form-email:focus, .node-form .form-item .form-email:hover, .node-form .form-item .form-tel:focus, .node-form .form-item .form-tel:hover {
    border-color: #0D57AA; }

.node-form .form-item .form-textarea {
  width: 100%;
  border: 1px solid #979797;
  font-size: 18px;
  border-radius: 5px;
  max-width: 100%;
  min-width: 100%;
  padding: 16px; }
  .node-form .form-item .form-textarea:focus, .node-form .form-item .form-textarea:hover {
    border-color: #0D57AA; }

.node-form .form-item .field--name-field-map-location .form-textarea {
  height: 59px;
  min-height: 59px; }

.node-form .form-actions {
  margin: 0;
  text-align: right; }
  .node-form .form-actions .form-submit {
    padding: 5px 30px;
    line-height: 28px;
    font-size: 0.889rem;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    border-radius: 30px;
    font-family: "Avenir-Medium",sans-serif;
    white-space: initial;
    border-bottom: 0;
    border: 1px solid #ffcb05;
    background: #ffcb05;
    color: #0d57aa;
    color: #0d57aa;
    padding: 5px 45px; }
    .node-form .form-actions .form-submit:hover, .node-form .form-actions .form-submit:focus {
      text-decoration: none;
      border-bottom: 0; }
    .node-form .form-actions .form-submit:hover, .node-form .form-actions .form-submit:active, .node-form .form-actions .form-submit:focus {
      border: 1px solid #0d57aa;
      background-color: #0d57aa;
      color: #fff; }
    .node-form .form-actions .form-submit:active {
      background-color: #00274c;
      color: #fff; }

.node-form .js-form-type-vertical-tabs {
  display: none; }

@media (min-width: 768px) {
  .node-form .fieldset-wrapper {
    margin-left: -15px;
    margin-right: -15px; }
    .node-form .fieldset-wrapper .form-wrapper {
      padding-left: 15px;
      padding-right: 15px;
      width: 50%; }
    .node-form .fieldset-wrapper .field--name-field-web, .node-form .fieldset-wrapper .field--name-body, .node-form .fieldset-wrapper .field--name-field-media-type {
      width: 100%; } }
