.grd-lst {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative; }
  .grd-lst > .view-header {
    margin-top: 30px; }
  .grd-lst .view-content {
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px; }
    .grd-lst .view-content .views-row {
      float: left;
      padding-left: 15px;
      padding-right: 15px;
      margin-top: 35px; }
      .grd-lst .view-content .views-row .field--name-field-media-type img {
        border: 1px solid #d7d7d7; }
      .grd-lst .view-content .views-row .field--name-field-tags {
        font-size: 0.667rem;
        font-family: 'Avenir-Medium',sans-serif;
        float: left;
        text-transform: uppercase;
        color: #5c5e5e;
        margin-right: 5px;
        margin-top: 15px; }
        .grd-lst .view-content .views-row .field--name-field-tags a {
          color: #5c5e5e; }
      .grd-lst .view-content .views-row .field--name-node-post-date {
        font-size: 0.667rem;
        display: inline-block;
        margin-top: 15px;
        text-transform: uppercase;
        margin-bottom: 12px;
        padding-left: 5px;
        position: relative; }
        .grd-lst .view-content .views-row .field--name-node-post-date::before {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          height: 10px;
          width: 1px;
          background: #555;
          margin-top: -5px; }
        .grd-lst .view-content .views-row .field--name-node-post-date p {
          font-family: 'OpenSans',sans-serif;
          font-size: 0.889rem;
          line-height: 1.333rem;
          margin-top: 7px; }
      .grd-lst .view-content .views-row .field--name-node-title h3 {
        font-size: 1.111em;
        color: #0d57aa;
        line-height: 1.5rem;
        margin: 0px;
        display: inline-block;
        font-family: 'Avenir-Black',sans-serif; }
      .grd-lst .view-content .views-row .field--name-body {
        margin: 12px 0;
        font-size: 0.889rem; }
        .grd-lst .view-content .views-row .field--name-body p {
          margin: 0px; }
  .grd-lst header {
    color: #747474;
    font-size: 14px;
    margin: 38px 0; }
  .grd-lst .vf-wrp {
    border-top: 1px solid #d8d8d8;
    margin-top: 23px;
    margin-bottom: 95px;
    padding: 23px 0;
    font-size: 0.778rem;
    color: #747474; }
    .grd-lst .vf-wrp .view-footer {
      float: left; }
    .grd-lst .vf-wrp .pagerer-container {
      float: right;
      width: 200px;
      padding: 0px;
      margin: 0px;
      line-height: 1; }
      .grd-lst .vf-wrp .pagerer-container .pagerer-panes {
        float: right; }
        .grd-lst .vf-wrp .pagerer-container .pagerer-panes ul.pager__items {
          padding: 0px;
          margin: 0px;
          position: relative; }
          .grd-lst .vf-wrp .pagerer-container .pagerer-panes ul.pager__items li {
            list-style: none;
            float: left; }
            .grd-lst .vf-wrp .pagerer-container .pagerer-panes ul.pager__items li span b {
              border: 1px solid #d8d8d8;
              padding: 1px 6px;
              margin: 0 5px;
              font-weight: normal; }
          .grd-lst .vf-wrp .pagerer-container .pagerer-panes ul.pager__items li.pagerer-prefix {
            margin-right: 18px; }
          .grd-lst .vf-wrp .pagerer-container .pagerer-panes ul.pager__items li.pager__item--next {
            font-size: 1.667rem;
            position: absolute;
            right: 0px;
            top: -10px; }
          .grd-lst .vf-wrp .pagerer-container .pagerer-panes ul.pager__items li.pager__item--previous {
            font-size: 1.667rem;
            position: absolute;
            left: -20px;
            top: -10px; }
  .grd-lst .view-filters {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 10;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: black;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */ }
    .grd-lst .view-filters .views-exposed-form {
      background-color: #fefefe;
      margin: auto;
      border: 1px solid #888;
      width: 87%;
      font-family: 'Open Sans Regular',sans-serif;
      max-height: 80%;
      overflow-y: scroll;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 87%;
      padding-bottom: 56px; }
      .grd-lst .view-filters .views-exposed-form fieldset {
        font-size: 0.889rem; }
      .grd-lst .view-filters .views-exposed-form [data-drupal-selector="edit-field-news-type"].form-item {
        float: left; }
      .grd-lst .view-filters .views-exposed-form #filterheader {
        font-size: 0.889rem;
        color: #0d57aa;
        width: 100%;
        float: left;
        line-height: 1;
        font-family: 'Avenir-Book',sans-serif;
        border-bottom: 3px solid #ffcb05;
        padding: 15px 12px 16px 18px; }
        .grd-lst .view-filters .views-exposed-form #filterheader .blkleft {
          float: left; }
        .grd-lst .view-filters .views-exposed-form #filterheader .filtby {
          font-size: 1.2rem;
          font-family: 'Avenir-Medium',sans-serif;
          text-transform: uppercase;
          color: #00274c;
          margin: 10px 0px; }
        .grd-lst .view-filters .views-exposed-form #filterheader .clrall, .grd-lst .view-filters .views-exposed-form #filterheader .selall {
          float: left;
          cursor: pointer;
          margin-top: 10px;
          padding-left: 8px; }
        .grd-lst .view-filters .views-exposed-form #filterheader .selall {
          border-right: 1px solid #9b9b9b;
          padding-left: 0;
          padding-right: 8px; }
        .grd-lst .view-filters .views-exposed-form #filterheader .filterblk {
          float: right;
          margin: 15px 0 0; }
          .grd-lst .view-filters .views-exposed-form #filterheader .filterblk .filterbtn {
            margin-top: 2px;
            text-transform: uppercase;
            border: 1px solid #0d57aa;
            border-radius: 30px;
            padding: 10px 20px;
            text-align: center;
            float: left;
            cursor: pointer; }
            .grd-lst .view-filters .views-exposed-form #filterheader .filterblk .filterbtn:hover {
              background: #0d57aa;
              color: #fff; }
          .grd-lst .view-filters .views-exposed-form #filterheader .filterblk .close {
            float: right;
            color: #aaaaaa;
            font-size: 2.222rem;
            margin: 0px;
            margin-left: 4px; }
          .grd-lst .view-filters .views-exposed-form #filterheader .filterblk .close:hover, .grd-lst .view-filters .views-exposed-form #filterheader .filterblk .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer; }
      .grd-lst .view-filters .views-exposed-form .newsubmit {
        float: left;
        margin-top: 25px; }
    .grd-lst .view-filters .fieldset-legend {
      font-size: 1.111rem;
      color: #000;
      line-height: 2.222;
      letter-spacing: 0.012rem;
      position: relative;
      padding-left: 30px; }
      .grd-lst .view-filters .fieldset-legend .form-checkboxes.fieldgroup {
        padding: 15px 0; }
    .grd-lst .view-filters fieldset {
      display: block; }
      .grd-lst .view-filters fieldset .js-form-item.form-item, .grd-lst .view-filters fieldset legend {
        padding: 8px; }
        .grd-lst .view-filters fieldset .js-form-item.form-item input, .grd-lst .view-filters fieldset legend input {
          padding: 0;
          height: initial;
          width: initial;
          margin-bottom: 0;
          display: none;
          cursor: pointer; }
          .grd-lst .view-filters fieldset .js-form-item.form-item input:checked + label:after, .grd-lst .view-filters fieldset legend input:checked + label:after {
            content: '';
            display: block;
            position: absolute;
            top: 2px;
            left: 6px;
            width: 7px;
            height: 13px;
            border: solid #0d57aa;
            border-width: 0 2.5px 2.5px 0;
            transform: rotate(45deg); }
        .grd-lst .view-filters fieldset .js-form-item.form-item label, .grd-lst .view-filters fieldset legend label {
          position: relative;
          cursor: pointer; }
          .grd-lst .view-filters fieldset .js-form-item.form-item label::before, .grd-lst .view-filters fieldset legend label::before {
            content: '';
            -webkit-appearance: none;
            background-color: transparent;
            border: 1px solid #979797;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
            padding: 8px;
            display: inline-block;
            position: relative;
            vertical-align: top;
            cursor: pointer;
            margin-right: 9px; }
      .grd-lst .view-filters fieldset legend label {
        float: left;
        width: 100%;
        position: absolute;
        left: 0px;
        top: 5px;
        line-height: 1; }
      .grd-lst .view-filters fieldset legend input:checked + label:after {
        top: 2px; }
      .grd-lst .view-filters fieldset [data-drupal-selector="edit-field-tags"] .form-item {
        width: 100%;
        float: left; }
    .grd-lst .view-filters .form-item-sort-order {
      display: none; }
    .grd-lst .view-filters .form-item-sort-by {
      display: none; }
    .grd-lst .view-filters .form-actions {
      display: none; }
  .grd-lst .view-header .view-content {
    font-size: 1rem; }
  .grd-lst .view-header .filter-blk {
    font-size: 0.778rem;
    color: #0d57aa;
    font-family: 'Avenir-Black',sans-serif;
    float: right;
    margin: 0 0 10px; }
    .grd-lst .view-header .filter-blk .newsfilter {
      margin-right: 20px;
      border: 1px solid #0d57aa;
      cursor: pointer;
      padding: 4px 6px;
      float: left; }
      .grd-lst .view-header .filter-blk .newsfilter::after {
        font-family: "Font Awesome 5 Free";
        font-size: 0.889rem;
        padding-right: 6px;
        font-weight: 900;
        content: "\f0d7";
        margin-left: 6px; }
    .grd-lst .view-header .filter-blk .recentfilter {
      padding-top: 6px;
      float: left;
      cursor: pointer; }
      .grd-lst .view-header .filter-blk .recentfilter::after {
        font-family: "Font Awesome 5 Free";
        font-size: 0.889rem;
        padding-right: 6px;
        font-weight: 900;
        content: "\f0d7";
        margin-left: 6px; }
  .grd-lst .view-header .result-summary {
    position: absolute;
    top: 45px;
    left: 0px;
    font-size: 14px;
    color: #747474; }

.paragraph--type--banner-slider {
  position: relative;
  display: table;
  width: 100%;
  height: 100%; }
  .paragraph--type--banner-slider .field--name-field-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 2rem;
    max-width: 300px;
    padding: 15px 0;
    background: rgba(0, 39, 76, 0.8); }

@media (min-width: 480px) {
  .grd-lst .views-row {
    width: 50%; }
    .grd-lst .views-row:nth-of-type(2n+1) {
      clear: both; }
  .grd-lst .view-header .views-row {
    width: 100%; }
  .grd-lst .view-header .field--name-field-media-type img {
    width: 100%; } }

@media (min-width: 640px) {
  .grd-lst .view-header .result-summary {
    top: 10px; }
  .grd-lst .view-header .filter-blk {
    margin-bottom: 0; } }

@media (min-width: 768px) {
  .grd-lst .filter-blk {
    font-size: 0.889rem !important; }
    .grd-lst .filter-blk .newsfilter {
      padding: 7px 23px !important; }
  .grd-lst .view-filters .views-exposed-form fieldset {
    margin-left: 40px; }
    .grd-lst .view-filters .views-exposed-form fieldset .fieldset-wrapper {
      margin-left: 30px; }
  .grd-lst .view-filters .views-exposed-form #filterheader .clrall, .grd-lst .view-filters .views-exposed-form #filterheader .selall {
    margin-top: 24px; }
  .grd-lst .view-filters .views-exposed-form #filterheader .filtby {
    font-size: 1.667rem;
    float: left;
    margin: 16px; }
  .grd-lst .view-filters .views-exposed-form #filterheader .filterblk {
    margin-top: 0; }
    .grd-lst .view-filters .views-exposed-form #filterheader .filterblk .filterbtn {
      margin-top: 8px; }
    .grd-lst .view-filters .views-exposed-form #filterheader .filterblk .close {
      margin: 7px 10px 0px 10px; }
  .grd-lst .view-filters .views-exposed-form #filterheader .blkleft .filtby {
    float: left; }
  .grd-lst .view-filters .views-exposed-form #filterheader #filterheader .filterblk .filterbtn {
    padding: 12px 47px;
    margin-right: 3px; }
  .paragraph--type--banner-slider .field--name-field-title {
    font-size: 3.778rem;
    max-width: 600px;
    padding: 15px 0; } }

@media (min-width: 1024px) {
  .grd-lst .views-row {
    width: 25%; }
    .grd-lst .views-row:nth-of-type(2n+1) {
      clear: both; }
  .grd-lst .view-header .field--name-field-media-type {
    width: 48.4%;
    float: left;
    margin-right: 29px; }
  .grd-lst .view-header .view-display-id-sticky_news .field--name-field-tags {
    margin-top: 5px; }
  .grd-lst .view-header .view-display-id-sticky_news .field--name-node-post-date {
    margin-top: 5px;
    float: left; }
  .grd-lst .view-filters .views-exposed-form [data-drupal-selector="edit-field-news-type"].form-item {
    margin-right: 40px; }
  .grd-lst .view-filters .views-exposed-form #filterheader .filterblk .filterbtn {
    padding: 16px 47px; }
  .grd-lst .view-filters .views-exposed-form #filterheader .filterblk .close {
    margin: 12px 10px 0px 10px; }
  .paragraph--type--banner-slider .field--name-field-title {
    font-size: 3.778rem;
    max-width: 900px;
    padding: 30px 0; } }

@media (min-width: 1200px) {
  .grd-lst .views-row {
    width: 25%; }
    .grd-lst .views-row:nth-of-type(n) {
      clear: none; }
    .grd-lst .views-row:nth-of-type(4n+1) {
      clear: both; }
  .grd-lst .view-filters .views-exposed-form [data-drupal-selector="edit-field-news-type"].form-item {
    margin-right: 60px;
    margin-top: 6px; }
  .grd-lst .view-filters .views-exposed-form [data-drupal-selector="edit-field-tags"] .form-item {
    width: 33.33% !important; }
  .paragraph--type--banner-slider .field--name-field-title {
    font-size: 3.778rem;
    max-width: 1030px;
    padding: 30px 0; } }
