// Css3 Mixins
@import "../../base/_variables";


.block-content--view-mode-why-soe {
  .field--name-field-content {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    & > .field__item {
      position:relative;
      text-align:center;
      padding: 25px;
      font-family: "Avenir-Black", sans-serif;
      .field--name-field-title{
        font-size: 3.5rem;
        color:$site-color-cntblue;
        display: inline-block;
        padding: 4px 25px;
        border-bottom: 4px solid #ffcb05;
        line-height: 1;
      }
      .field--name-field-sub-title{
        font-size:1.111rem;
        padding: 12px 0 5px 0;
        color:#333333;
      }
      .field--name-field-description{
        font-size:0.778rem;
        color:#747474;
        font-family:  "Avenir-Light", sans-serif;
        p{
         margin:0px;
        }
      }
      @media (min-width: 640px) {
        float:left;
        width: 50%;
      }
      @media (min-width: 1024px) {
        width: 33.33%;
        &:nth-of-type(3n+1) {
          clear: both;
        }
      }
      @media (min-width: 1200px) {
        .field--name-field-title{
          font-size: 5.278em;
        }
      }

    }
  }
}
