/**
 * Clearfix
*/
/**
 * Buttons
*/
.box {
  padding: 10px 30px; }

/**
 * Css3 Extensions
*/
/**
 * Flex
*/
/**
 * Invisible
*/
/**
 * Field
*/
.field--name-field-cta .field__item {
  display: inline;
  vertical-align: middle; }

.field--name-field-cta a {
  padding: 10px 40px;
  line-height: 28px;
  font-size: 0.889em;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  border-radius: 30px;
  font-family: "Avenir-Medium",sans-serif;
  white-space: initial;
  border-bottom: 0;
  border: 1px solid #ffcb05;
  background: #ffcb05;
  color: #0d57aa; }
  .field--name-field-cta a:hover, .field--name-field-cta a:focus {
    text-decoration: none;
    border-bottom: 0; }
  .field--name-field-cta a:hover, .field--name-field-cta a:active, .field--name-field-cta a:focus {
    border: 1px solid #0d57aa;
    background-color: #0d57aa;
    color: #fff; }
  .field--name-field-cta a:active {
    background-color: #00274c;
    color: #fff; }

.field-val-cta-color-white ~ .field--name-field-cta a {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  border-radius: 30px;
  font-family: "Avenir-Medium",sans-serif;
  white-space: initial;
  border-bottom: 0;
  color: #0d57aa;
  border: 1px solid #0d57aa;
  background: #fff; }
  .field-val-cta-color-white ~ .field--name-field-cta a:hover, .field-val-cta-color-white ~ .field--name-field-cta a:focus {
    text-decoration: none;
    border-bottom: 0; }
  .field-val-cta-color-white ~ .field--name-field-cta a:hover, .field-val-cta-color-white ~ .field--name-field-cta a:active, .field-val-cta-color-white ~ .field--name-field-cta a:focus {
    border: 1px solid #0d57aa;
    background-color: #0d57aa;
    color: #fff; }
  .field-val-cta-color-white ~ .field--name-field-cta a:active {
    background-color: #00274c; }

.field--name-title-para {
  font-family: "Avenir-Black", sans-serif;
  margin: 0; }

.field--type-link .field__item {
  display: block;
  margin: 10px; }

.field--name-image img {
  width: 100%; }

@media (min-width: 768px) {
  .field--type-link .field__item {
    display: inline; } }
