//News listing pages Styles
@import "../base/_variables";

.grd-lst {
  position: relative;

  .view-content {
    .views-row {
      margin-top: 35px;
    }
  }

  header {
    color: #747474;
    font-size: 14px;
    margin: 38px 0;
  }

  .vf-wrp {
    border-top: 1px solid #d8d8d8;
    margin-top: 23px;
    padding: 23px 0;
    font-size: 0.778rem;
    color: #747474;

    .view-footer {
      float: left;
    }

    .pagerer-container {
      float: right;
      width: 200px;
      padding: 0px;
      margin: 0px;
      line-height: 1;

      .pagerer-panes {
        float: right;

        ul.pager__items {
          padding: 0px;
          margin: 0px;
          position: relative;

          li {
            list-style: none;
            float: left;

            span {
              b {
                border: 1px solid #d8d8d8;
                padding: 1px 6px;
                margin: 0 5px;
                font-weight: normal;
              }
            }
          }

          a {
            border: 0;
          }

          li.pagerer-prefix {
            margin-right: 18px;
          }

          li.pager__item--next {
            font-size: 1.667rem;
            position: absolute;
            right: 0px;
            top: -10px;
          }

          li.pager__item--previous {
            font-size: 1.667rem;
            position: absolute;
            left: -20px;
            top: -10px;
          }
        }
      }
    }
  }
}

.view-header {
  margin-top: 30px;
  margin-bottom: 15px;

  .view-content {
    font-size: 1rem;
  }

  .filter-blk {
    font-size: 0.722rem;
    color: #0d57aa;
    font-family: 'Avenir-Black', sans-serif;
    float: right;
    margin: 0 0 10px;

    .newsfilter {
      margin-right: 10px;
      border: 1px solid #0d57aa;
      cursor: pointer;
      padding: 4px 6px;
      float: left;

      &::after {
        font-family: "Font Awesome 5 Free";
        font-size: 0.889rem;
        padding-right: 6px;
        font-weight: 900;
        content: "\f0d7";
        margin-left: 6px;
      }
    }

    .drop-down {
      float: left;
      position: relative;

      .selected {
        a.sel-link {
          text-decoration: none;
          color: #0d57aa;
          cursor: pointer;
          display: block;
          // border: 1px solid #0d57aa;
          padding: 7px 22px 7px 7px;
          &::after {
            font-family: "Font Awesome 5 Free";
            font-size: 0.889rem;
            padding-right: 6px;
            font-weight: 900;
            content: "\f0d7";
            margin-left: 6px;
            position: absolute;
            right: 0;
            top: 8px;
            z-index: -1;
          }
          &:hover {
            border-bottom: 0;
          }
        }
      }

      .options {
        position: absolute;
        top: 26px;

        ul {
          background: #fff none repeat scroll 0 0;
          display: none;
          list-style: none;
          padding: 0px 0px;
          position: absolute;
          left: 0;
          top: 20px;
          min-width: 149px;
          border: 1px solid #d7d7d7;
          margin: 5px 0px;
          z-index: 9;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;

          &::before {
            width: 0;
            height: 0;
            content: "";
            box-sizing: border-box;
            border-right: 12px solid transparent;
            border-bottom: 12px solid white;
            top: -8px;
            -moz-transform: rotate(135deg);
            -o-transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
            -moz-box-shadow: -3px 3px 10px -1px rgba(0, 0, 0, 0.15);
            -o-box-shadow: -3px 3px 10px -1px rgba(0, 0, 0, 0.15);
            -webkit-box-shadow: -3px 3px 10px -1px rgba(0, 0, 0, 0.15);
            box-shadow: -3px 3px 10px -1px rgba(0, 0, 0, 0.15);
            position: absolute;
            left: 8px;
            margin-top: 2px;
          }

          li {
            display: block;
            font-size: 0.833rem;
            text-decoration: none;
            border-top: 1px solid #d7d7d7;

            &:first-child {
              border-top: 0;
            }
          }

          a {
            padding: 8px 13px;
            display: block;
            border: 0;
            color: #0d57aa;
            transition: 0.2s ease;
            cursor: pointer;

            &:hover,
            &:focus {
              background: #0d57aa;
              color: $white;
            }
          }
        }
      }
    }

    .tb-grd {
      float: left;
      margin: 8px 0 0 8px;
      font-size: 1rem;
      border-left: 1px solid #d8d8d8;

      a {
        margin-left: 7px;
        cursor: pointer;

        &:hover,
        &:focus {
          border-bottom: none;
        }
      }

      .active {
        color: #9b9b9b;

        &:focus {
          outline: none;
        }
      }
    }
  }

  .result-summary {
    position: absolute;
    top: 50px;
    left: 0px;
    font-size: 14px;
    color: #747474;
  }
}

.view-content {
  .views-row {
    .field--name-field-media-type {
      img {
        border: 1px solid #d7d7d7;
      }
    }

    .views-field-field-media-type {
      margin-bottom: 10px;
    }

    .field--name-field-tags,
    .views-field-field-tags {
      font-size: 0.667rem;
      font-family: 'Avenir-Medium', sans-serif;
      display: inline;
      text-transform: uppercase;
      color: #5c5e5e;
      margin-top: 0;

      &>.field__item,
      &>.field-content {
        display: inline;
      }
    }

    .field--name-field-tags+.field--name-field-date-of-publication,
    .views-field-field-date-of-publication {
      &::before {
        content: '|';
        padding-right: 5px;
      }
    }

    .field--name-node-post-date,
    .field--name-field-date-of-publication,
    .views-field-field-date-of-publication {
      font-size: 0.667rem;
      display: inline;
      text-transform: uppercase;
      padding-left: 5px;
      position: relative;

      p,
      .field-content {
        font-family: 'OpenSans', sans-serif;
        font-size: 12px;
        line-height: 1.333rem;
        margin-top: 7px;
        display: inline;
      }
    }

    .field--name-node-title,
    .views-field-title {
      margin-top: 10px;

      h3 {
        font-size: 1.111em;
        color: #0d57aa;
        line-height: 1.5rem;
        margin: 0px;
        display: inline-block;
        font-family: 'Avenir-Black', sans-serif;
      }
    }

    .field--name-body {
      margin: 12px 0;
      font-size: 0.889rem;

      p {
        margin: 0px;
      }
    }

    .layout__region--second {
      margin-top: 13px;
    }
  }
}

.stk-grd {
  .layout__region--second {
    margin-top: 0 !important;
  }
}

.fac-stf {
  .view-header {
    margin: 0px;
  }

  .group-right {
    text-align: center;
  }
}

.block-facet-blocktitle {
  ul {
    &:after {
      content: "";
      display: table;
      clear: both;
    }

    max-width: 1140px;
    padding: 34px 0 20px 0px;
    border-bottom: 3px solid #ffcb05;
    font-size: 1.222rem;

    li {
      list-style: none;
      float: left;
      padding: 0px 1.19%;
    }

    li.facets-reset {
      background: #ecf5ff;
      border-radius: 5px;
      padding: 0 0.75%;
      margin: 0 10px;
    }
  }
}

.std-org {
  .view-content {
    .views-row {
      text-align: center;

      .field--name-image {
        img {
          border: 0;
          width: auto;
        }
      }

      .field--name-node-title {
        h3 {
          font-size: 1.111em;
          line-height: 1.5rem;
          margin: 0px;
          font-family: 'Avenir-Black', sans-serif;

          a {
            color: #333;

            &:hover {
              color: #00274c;
              text-decoration: none;
              border: 0;
            }
          }
        }
      }
    }
  }
}

.mr-evtg {
  .field--name-field-events-type {
    display: none;
  }

  .field--name-dynamic-token-fieldnode-events-tags-list-view {
    display: none;
  }

  .lst-header {
    display: none;
  }
}

.cntrf-plans {
  text-align: center;
  margin: 80px 0 48px 0;
  font-family: 'Avenir-Light', sans-serif;

  h2 {
    color: $site-color-blue;
    font-weight: 400;
    margin-bottom: 0px;
  }

  p {
    line-height: 1.556rem;
    padding: 0 13%;
    font-size: 1.111rem;
    margin-top: 4px;
  }
}

.rfl-plans {
  .field--name-dynamic-token-fieldnode-room-seating-capacity {
    &:after {
      content: "";
      display: table;
      clear: both;
    }

    &>div {
      float: left;
      font-size: 0.667rem;
      text-transform: uppercase;
      color: #5c5e5e;
      margin: 16px 0 6px 0;
    }

    .field__item {
      padding-left: 5px;
    }
  }

  .field--name-node-title {
    h2 {
      font-size: 1.111rem;
      font-family: 'Avenir-black', sans-serif;
      line-height: 1.5rem;
      margin-bottom: 5px;
      color: $site-color-cntblue;
    }
  }

  .field--name-field-floor-plans {
    font-family: 'Avenir-medium', sans-serif;
    font-size: 0.889rem;

    &:after {
      content: "\f054";
      color: $site-color-cntblue;
      font-family: 'Fontawesome 5 pro';
      padding: 0 10px;
      font-size: 0.9rem;
      vertical-align: middle;
    }
  }

  .roomavail {
    color: #9b9b9b;
    font-size: 0.889rem;
    font-family: 'Avenir-medium', sans-serif;
  }

  .field--name-dynamic-token-fieldnode-room-seating-capacity-for-table {
    display: none;
  }

  .lst-header {
    display: none;
  }
}

.mr-evtg.list-view,
.rfl-plans.list-view {
  .view-content {
    .views-row {
      .field--name-node-title {
        margin-top: 0;
      }

      &>.layout {
        border: 0;
        background: none;
        padding: 0;

      }

      &:after {
        content: "";
        display: table;
        clear: both;
      }

      color:#555;
      margin-left: -15px;
      margin-right: -15px;
      width:100% !important;
      border:none !important;
      margin:0px;
      padding:30px 0;
      font-size:0.889rem;
      flex: none;
      max-width: none;

      .field--name-field-event-start-date, .field--name-dynamic-token-fieldnode-event-webinar-or-calendar-icon {
        float: left;
        background: none;
        color: #555 !important;
        font-size: 0.889rem;
        margin: 0 48px 0 28px;
        padding: 0px;
        font-family: 'Open Sans Regular', sans-serif;
        .calendar-icon,.webinar-icon{
          &:before {
            display: none;
          }
        }
      }

      .field--name-field-tags {
        display: none;
      }

      .field--name-node-title {
        float: left;
        width: 370px;
        padding-right: 25px;

        h3 {
          margin: 0px;
        }
      }

      .field--name-field-display-event-time {
        float: left;
        width: 147px;
        font-size: 16px;
        text-transform: uppercase;
        // font-weight: bold;
      }

      .field--name-field-events-type {
        float: left;
        display: block;
        width: 154px;

        &::before {
          content: "\f133";
          font-family: 'Fontawesome 5 pro';
          padding: 0 10px;
          font-size: 1.111rem;
          vertical-align: middle;
        }
      }

      .field--name-dynamic-token-fieldnode-events-tags-list-view {
        float: left;
        display: block;
        width: 180px;
      }

      p {
        margin: 0px;
      }
    }
  }

  .views-row.events-list:nth-of-type(even) {
    background-color: #f1f1f1;
  }

  .views-row>.layout>.layout__region {
    text-align: left;
  }

  .lst-header {
    display: block;
    border-top: 5px solid $site-color-yellow;
    border-bottom: 1px solid #d8d8d8;
    padding: 11px 0;
    margin-bottom: 18px;
    color: #000;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    &>div, & > .hdr-date {
      float: left;
      font-family: 'Open Sans SemiBold',sans-serif !important;
    }
    .hdr-time {
      text-transform: none !important;
    }
    .hdr-date {
      &:before {
        display: none;
      }
    }

    .field--name-field-event-start-date {
      margin-right: 108px !important;
    }

    .field--name-field-events-type {
      padding-left: 8px;

      &:before {
        display: none;
      }
    }

    .hdr-seating,
    .hdr-name {
      font-size: 0.778rem;
      font-family: 'Avenir-Heavy', sans-serif;
    }
  }
}

.rfl-plans {
  .lst-header {
    padding: 15px 0 !important;
  }
}

.rfl-plans.list-view {
  .field--name-dynamic-token-fieldnode-room-seating-capacity-for-table {
    display: block;
    float: left;
    font-size: 0.778rem;
    color: #333333;
    font-family: 'Open Sans Bold', sans-serif;
    margin-top: 5px;

    p {
      margin: 0px;
    }
  }

  .field--type-entity-reference.field--label-hidden {
    display: none;
  }

  .field--name-dynamic-token-fieldnode-room-seating-capacity {
    display: none;
  }

  .views-row {
    width: 100% !important;
    margin-top: 0px;
    padding: 24px 10px;

    .field--name-node-title {
      float: left;
      margin: 0 0 0 55px;
      width: 460px;

      h2 {
        font-family: 'Avenir-medium', sans-serif;
        font-weight: 400;
      }
    }

    .field--name-field-floor-plans,
    .field--name-dynamic-token-fieldnode-rooms-floor-plan-availablity {
      float: right;
      padding-right: 10px;
      width: 160px;
      margin-top: 5px;
    }
  }

  .views-row:nth-of-type(even) {
    background-color: #f1f1f1;
  }
}

.ylw_bg.row1 {
  h2.block-title {
    font-family: 'Avenir-Heavy', sans-serif;
  }
}


.ylw_bg,
.impt-list {
  .block-title {
    font-family: 'Avenir-Heavy', sans-serif;
    font-weight: normal;
    margin-bottom: 0px;
  }

  .views-row {
    margin-top: 21px !important;
  }

  .node--type-impact-stories {
    text-align: center;

    .group-left {
      position: relative;

      .field--type-string {
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 100%;
        background: rgba(0, 39, 76, 0.8);
        color: #fff;
        padding: 12px 0;
        font-size: 0.778rem;
      }

      .field--name-field-media-type {
        img {
          border: none;
        }
      }
    }

    .group-right {
      margin: 39px 0;
      color: #333;

      .field--name-node-title {
        font-family: 'Avenir-Black', sans-serif;

        h3 {
          font-size: 1.111rem;
          line-height: 1.333rem;

          a {
            color: #333;

            &:hover,
            &:focus {
              border-bottom-color: #333;
            }
          }
        }
      }

      .field--name-body {
        line-height: 1.167rem;
        font-family: 'Open Sans SemiBold', sans-serif;
      }
    }
  }
}

.field--name-node-link {
  padding: 12px 0;

  a {
    font-size: 0.889rem;
    color: #00274c;
    font-family: 'Avenir-Medium', sans-serif;

    &:after {
      content: "\f105";
      font-family: 'Fontawesome 5 pro';
      padding-left: 10px;
      font-size: 1.111rem;
      vertical-align: middle;
    }

    &:hover,
    &:focus {
      font-family: 'Avenir-Black', sans-serif;
      border-bottom: 0;
    }
  }
}

.filter-chip {
  float: left;
  width: 100%;
  margin-top: 19px;
  display: none;

  .flt-key {
    font-size: 0.778rem;
    margin-right: 5px;
  }

  .filter-lists {
    .f-chips {
      margin: 3px 12px 3px 0;
      padding: 7.5px 20px;
      font-size: 0.667rem;
      color: #5c5e5e;
      text-transform: uppercase;
      background-color: #f1f1f1;
      line-height: 18px;
      display: inline-block;

      .singlecancle {
        font-size: 0.667rem;
        cursor: pointer;
        border: 0;
        color: #5c5e5e;
      }
    }
  }
}

.fil-sel .stk-grd .view-content {
  display: none;
}

.crnt-awrds {
  &>.view-filters {
    display: block;
    position: relative;
    top: 0;
    padding: 0;
    height: auto;
    overflow: unset;
    background: none;
    z-index: 0;

    .views-exposed-form {
      position: relative;
      border: 0;
      height: auto;
      top: 0;
      left: 0;
      width: 100%;
      padding: 0;
      background: none;
      transform: unset;
      overflow: unset;

      .form-item {
        input.form-text {
          width: 100%;
          border-radius: 2px;
        }
      }
    }
  }

  &>.view-header {
    position: relative;

    .result-summary {
      top: 0;
      position: relative;
    }
  }
}


//filter styles
.view-filters {
  display: none;
  position: fixed;
  z-index: 10;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  .views-exposed-form {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 87%;
    font-family: 'Open Sans Regular', sans-serif;
    max-height: 80%;
    overflow-y: scroll;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 87%;
    padding-bottom: 56px;

    fieldset {
      font-size: 0.889rem;
    }

    [data-drupal-selector="edit-field-news-type"].form-item,
    [data-drupal-selector="edit-field-events-type"].form-item,
    [data-drupal-selector="edit-field-programs"].form-item,
    [data-drupal-selector="edit-field-impact-story-type"].form-item,
    [data-drupal-selector="edit-field-seating-capacity-fx"].form-item,
    [data-drupal-selector="edit-field-services"].form-item,
    [data-drupal-selector="edit-field-room-technology"].form-item {
      float: left;
    }

    [data-drupal-selector="edit-field-programs"].form-item,
    [data-drupal-selector="edit-field-services"].form-item {
      width: 300px;
    }

    #filterheader {
      font-size: 0.889rem;
      color: $site-color-cntblue;
      width: 100%;
      float: left;
      line-height: 1;
      font-family: 'Avenir-Book', sans-serif;
      border-bottom: 3px solid #ffcb05;
      padding: 15px 12px 16px 18px;

      .blkleft {
        float: left;
      }

      .filtby {
        font-size: 1.2rem;
        font-family: 'Avenir-Medium', sans-serif;
        text-transform: uppercase;
        color: #00274c;
        margin: 10px 0px;
      }

      .clrall,
      .selall {
        float: left;
        cursor: pointer;
        margin-top: 10px;
        margin-left: 8px;
      }

      .selall {
        position: relative;

        &:after {
          content: '';
          border-right: 1px solid #9b9b9b;
          position: absolute;
          right: -8px;
          top: 50%;
          margin-top: -8px;
          height: 16px;
        }

        margin-left: 0;
        margin-right: 8px;
      }

      .filterblk {
        float: right;
        margin: 15px 0 0;

        .filterbtn {
          margin-top: 2px;
          text-align: center;
          float: left;
          cursor: pointer;
          @include whitebgbutton();
          @include button_large();
          padding: 4px 20px;
        }

        .close {
          float: right;
          color: #aaaaaa;
          font-size: 2.222rem;
          margin: 0px;
          margin-left: 4px;
          border: 0;
        }

        .close:hover,
        .close:focus {
          color: #000;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }

    .newsubmit {
      float: left;
      margin-top: 25px;
    }
  }

  .fieldset-legend {
    font-size: 1.111rem;
    color: #000;
    line-height: 2.222;
    letter-spacing: 0.012rem;
    position: relative;
    padding-left: 30px;

    .form-checkboxes.fieldgroup {
      padding: 15px 0;
    }
  }

  fieldset {
    display: block;

    .js-form-item.form-item,
    legend {
      padding: 8px;

      input {
        @include element-invisible();
        cursor: pointer;

        &:checked+label:after {
          content: '';
          display: block;
          position: absolute;
          top: 2px;
          left: 6px;
          width: 7px;
          height: 13px;
          border: solid #0d57aa;
          border-width: 0 2.5px 2.5px 0;
          transform: rotate(45deg);
        }
      }

      label {
        position: relative;
        cursor: pointer;
        display: flex;
        width: fit-content;
        font-size: 1em;
        font-family: 'Open Sans Regular', sans-serif;

        &::before {
          content: '';
          -webkit-appearance: none;
          background-color: transparent;
          border: 1px solid #979797;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
          padding: 8px;
          display: inline-block;
          position: relative;
          vertical-align: top;
          cursor: pointer;
          margin-right: 9px;
          height: 18px;
        }
      }
    }

    .form-item {
      margin: 0;
    }

    legend {
      label {
        float: left;
        width: 100%;
        position: absolute;
        left: 0px;
        top: 5px;
        line-height: 1;
      }

      input {
        &:checked+label:after {
          top: 2px;
        }
      }
    }

    [data-drupal-selector="edit-field-tags"] {
      .form-item {
        width: 100%;
        display: inline-block;
      }
    }
  }

  .form-item-sort-order {
    display: none;
  }

  .form-item-sort-by {
    display: none;
  }

  .form-actions {
    display: none;
  }
}
.show-fltrs {
  .view-filters {
    display: block;
    position: static;
    padding: 0;
    background: none;

    .views-exposed-form {
      position: static;
      transform: none;
      background: none;
      overflow: visible;
      border: 0;
      padding: 0;
    }
  }
}

.drty-lst {
  .view-content {
    margin-left: -15px;
    margin-right: -15px;
  }

  table {
    width: 100%;
    font-size: 0.889rem;
    text-align: left;

    tr:nth-child(even) {
      background: #f1f1f1;
    }

    td {
      padding: 15px 0;
      height: 80px;
    }

    td.views-field-nothing,
    .views-field-name {
      padding-left: 55px;
      padding-right: 20px;

      a {
        font-family: 'Avenir-Medium', sans-serif;
        font-size: 1.111rem;
        line-height: 1.500rem;
      }

      p {
        margin: 0px;
      }
    }

    td.views-field-field-phone-number {
      padding-left: 30px;
      padding-right: 15px;

      a {
        color: #555555;
      }
    }
  }
}

.drty-lst.drty-srve {
  td.views-field-name {
    color: #333333;
    font-size: 1.111rem;
  }
}

.mnu_bar {
  div [role="navigation"].pagerer-pager-basic {
    background: none;
    padding: 0;
  }

  div [role="navigation"] {
    background: $site-color-cntblue;
    text-align: center;
    padding: 21px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    a {
      color: #fff;
    }
  }

  div [data-block-plugin-id="system_menu_block:programs-menu"] {
    display: none;
    background: #e4e1df;

    a {
      color: #555;

      &:hover {
        color: $site-color-blue;
        border-bottom: none;
      }
    }

    ul.menu {
      padding: 0px;

      &>li {
        padding: 0 3%;
      }
    }
  }

  .mnu_bar nav.pager {
    background: none;

    a {
      color: #0d57aa;
    }
  }

  ul.menu {
    &:after {
      content: "";
      display: table;
      clear: both;
    }

    max-width: 1200px;
    margin:0 auto;
    font-family: "Avenir-Medium",
    sans-serif;
    font-size:1.111rem;
    display: none;

    &>li {
      list-style: none;
      display: inline-block;
      padding: 0 2.4%;
    }

    .menu-item--active-trail {
      font-family: "Avenir-Black", sans-serif;
      font-size: 1.111rem;
      position: relative;

      &::after {
        content: "\f0d8";
        color: #fff;
        font-family: "Font Awesome 5 Free";
        font-size: 3rem;
        font-weight: 900;
        position: absolute;
        top: 10px;
        left: 50%;
        margin-left: -20px;
      }
    }
  }

  .button-dropdown {
    color: #fff;
    list-style: none;
    position: relative;

    .dropdown-toggle {
      color: #fff;
      font-family: "Avenir-Black", sans-serif;

      &::before {
        content: "\f0dd";
        font-family: "Font Awesome 5 Free";
        font-size: 1.2rem;
        font-weight: 900;
        position: absolute;
        top: 15px;
        left: 50%;
        margin-left: -7px;
      }
    }

    .dropdown-toggle.active {
      &::before {
        content: "\f0d8";
      }
    }

    .dropdown-menu {
      display: none;
      padding: 0;
      background: $site-color-cntblue;
      border-top: 1px solid #3275bf;
      font-family: "Avenir-Book", sans-serif;
      margin-bottom: 0px;

      &>li {
        padding: 15px 0;
      }
    }

    .dropdown-menu.active {
      display: block;
    }
  }
}

.light_blue {
  display: none;

  .block {
    color: #fff;
    display: inline-block;
    padding: 27px 25px;
    cursor: pointer;
    position: relative;

    &.active {
      &::after {
        content: "\f0d8";
        color: #fff;
        font-family: "Font Awesome 5 Free";
        font-size: 3rem;
        font-weight: 900;
        position: absolute;
        top: 36px;
        left: 50%;
        margin-left: -20px;
      }
    }
  }

  &>.inside {
    text-align: center;
  }
}

.paragraph--type--banner-slider {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;

  .field--name-field-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 2rem;
    max-width: 300px;
    padding: 15px 0;
    background: rgba(0, 39, 76, 0.8);
  }
}

// floor and plans
.floor-plans {
  h3 {
    font-family: 'Avenir-Light', sans-serif;
    font-size: 1.667rem;
    line-height: 58px;
    letter-spacing: -2px;
    color: #00274c;
    margin-bottom: 0;
  }

  span {
    font-family: 'Avenir-Light', sans-serif;
    font-size: 1rem;
    line-height: 28px;
    letter-spacing: 0;
    color: #555555;
  }

  .field--name-field-document {
    font-family: 'Avenir-Light', sans-serif;
    font-size: 0.8rem;
    line-height: 48px;
    letter-spacing: 0;
    color: #0d57aa;
    font-weight: bolder;
    text-transform: capitalize;
    margin-bottom: 29px;
  }

  .field--name-field-document {
    .file--mime-application-pdf {
      margin: 0px 0 22px 0px;
      font-size: 0.889rem;
      letter-spacing: 0;
      color: #0d57aa;

      a::after {
        content: "\f105";
        font-family: 'Fontawesome 5 pro';
        padding-left: 15px;
        font-size: 1rem;
      }
    }

  }

  p {
    @include whitebgbutton;
    display: inline-block;
    margin: 5px;
  }

  figure {
    margin: 50px 0 200px 0;
  }
}

.field--name-dynamic-token-fieldnode-default-image {
  display: none;

  .defaultimage {
    width: 100%;
    padding-top: 56.55%;
    background: url(../../images/no-img.jpg) no-repeat;
    background-size: cover;
    display: block;
    text-indent: -9999em;
    height: 0;
    border: 1px solid #d7d7d7;
  }

  &:first-child {
    display: block;
  }
}

.field--name-dynamic-token-fieldnode-news-video-icon {
  position: relative;

  .video-icon {
    background: url(../../images/news-viocn.png) no-repeat;
    background-size: 100%;
    position: absolute;
    height: 20px;
    width: 20px;
    bottom: 10px;
    left: 11px;
  }

  .video_duration {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 25px;
    border-radius: 12.5px;
    background-color: rgba(43, 42, 43, 0.65);
    font-family: "Open Sans Bold", sans-serif;
    line-height: 18px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    padding: 3px;

    &:empty {
      display: none;
    }
  }
}

.field--name-dynamic-token-fieldnode-impact-stories-video-icon {
  position: relative;

  .video-icon {
    background: url(../../images/impact-viocn.png) no-repeat;
    position: absolute;
    height: 46px;
    width: 100%;
    bottom: 51px;
    left: 13px;
  }
  .video_duration{
    position: absolute;
    right: 13px;
    bottom: 62px;
    background: #808080a3;
    color: #fff;
    padding: 2px 11px;
    border-radius: 50px;
    font-size: 13px;
  }
}

//start -floor plans
.blk-flr-pln {
  .block-block-content {
    .field--name-body {
      margin-bottom: 38px;
    }
  }

  .field--name-field-link {
    .field__item {
      display: inline-block;
      margin-top: 10px;
      margin-left: 11px;
    }
  }

  .field--type-entity-reference-revisions {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }

}

//end -floor plans
//start collaborate-body
.collaborate-body {
  display: inline-block;
  margin-bottom: 38px;

  p {
    margin: 0;
    margin-bottom: 10px;
  }

  .collaborate-contengt {
    display: inline-block;

    // float: left;
    // width: 33.3%;
    p {
      font-family: 'OpenSans', sans-serif;
      font-size: 1.111em;
      letter-spacing: 0;
      color: #ffffff;

      strong {
        font-family: 'Avenir-Black', sans-serif;
      }

      &:first-child {
        margin-bottom: 0;
      }

      &:nth-child(2) {
        margin: 0;
        margin-bottom: 10px;
      }
    }
  }
}

//end start collaborate-body
//  Start blu_bg_img2
.blu_bg_img,
.blu_bg_img2,
.blu_bg_img3,
.ylw_bg_img {
  .inside {
    position: relative;

    .block-title {
      color: #ffffff;
    }

    .field--name-body {
      color: #ffffff;
      margin-bottom: 40px;
    }
  }
}

// End blu_bg_img2

// start Courses and Syllabi
.block-region-left-sidebar {
  .facets-widget-links {
    h3 {
      font-size: 1.111em;
      color: #000000;
      font-family: "Open Sans Regular", sans-serif;
      letter-spacing: -0.21px;
      line-height: 40px;
      margin: 0;
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        padding: 10px 30px;



        a {
          position: relative;

          .facet-item__value {
            font-size: 0.889em;
            color: #4a4a4a;
            font-family: "Open Sans Regular", sans-serif;
            line-height: 26px;
          }

          span.active:before {
            content: '';
            position: absolute;
            bottom: 6px;
            left: -24px;
            width: 7px;
            height: 13px;
            border: solid #0d57aa;
            border-width: 0 2.5px 2.5px 0;
            transform: rotate(45deg);
          }

          span::after {
            content: '';
            -webkit-appearance: none;
            background-color: transparent;
            border: 1px solid #979797;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
            padding: 8px;
            display: inline-block;
            position: absolute;
            vertical-align: top;
            cursor: pointer;
            margin-top: 5px;
            left: -30px;
          }
        }
      }
    }
  }
}

.tbl-frmt {
  .view-content {
    overflow: scroll;

    table {
      thead {
        tr {
          border-top: 2px solid #666666;
          border-bottom: 2px solid #666666;

          th {
            min-width: 122px;
            text-align: left;
            padding: 11px 0;
            font-size: 0.778em;
            font-family: "OpenSans-Semibold", sans-serif;
            letter-spacing: 0.25px;
            columns: #000000;

            &:first-child {
              padding-left: 15px;
            }
          }
        }
      }

      tbody {
        tr {
          border-bottom: 1px solid #d4dbe4;

          td {
            text-align: left;
            padding: 11px 0;
            font-size: 0.889em;
            font-family: "Avenir-Medium", sans-serif;
            letter-spacing: -0.17px;
            vertical-align: top;

            .crs-body {
              max-height: 0;
              overflow: hidden;
              -webkit-transition: all 0.3s ease-in;
              -moz-transition: all 0.3s ease-in;
              -ms-transition: all 0.3s, ease-in;
              -o-transition: all 0.3s ease-in;
              transition: all 0.3s ease-in;
              color: #555555;
              font-family: "OpenSans", sans-serif;
              letter-spacing: 0;
              line-height: 24px;
              font-size: 0.889em;

              &.active {
                max-height: 1000px;
              }

              .crs-syllabus {
                table {
                  width: 100%;

                  thead {
                    tr {
                      border-top: none;
                      border-bottom: 2px solid #666666;

                      th {
                        font-size: 0.889em;
                        line-height: 16px;
                        letter-spacing: -0.15px;
                        color: #000000;

                        &:last-child {
                          text-align: center;
                        }
                      }

                    }
                  }

                  tbody {
                    tr {
                      td {
                        font-display: 'Avenir-Medium', sans-serif;
                        font-size: 0.889em;
                        line-height: 26px;
                        letter-spacing: -0.17px;
                        color: #4a4a4a;

                        &:first-child {
                          width: 121px;
                        }

                        &:nth-child(2) {
                          font-family: 'Avenir-Medium', sans-serif;
                          letter-spacing: 0;
                          color: #0d57aa;
                        }

                        &:last-child {
                          text-align: center;
                          padding-right: 0;

                          .file--mime-application-pdf {
                            a {
                              visibility: hidden;

                              &::after {
                                content: "\f1c1";
                                font-family: 'Fontawesome 5 pro';
                                color: #0d57aa;
                                font-size: 20px;
                                display: block;
                                visibility: initial;
                                margin-top: -25px;
                              }
                            }

                          }

                        }
                      }

                      &:nth-child(even) {
                        background-color: #f1f1f1;
                      }

                      &:nth-child(odd) {
                        background: #fff;
                      }
                    }
                  }
                }
              }
            }

            &:last-child {
              color: #0d57aa;
              position: relative;
              padding-right: 39px;
            }

            &:first-child {
              padding-left: 15px;
            }

            .exp-ico {
              top: 9px;
              right: 3px;
            }
          }
        }
      }
    }
  }

  .vf-wrp {
    display: none;
  }
}

// end Courses and Syllabi
.field--name-description {
  max-width: 770px;
  margin: 0 auto;

  &>p:first-child {
    margin-top: 0;
  }

  h2 {
    color: $site-color-blue;
    font-weight: 400;
    letter-spacing: -2px;
  }
}

.acor-bdy {
  .title-group {
    color: #333333;
    font-family: 'Avenir-Heavy', sans-serif;
    font-size: 1.444rem;
    border-top: 4px solid $site-color-yellow;
    border-bottom: 1px solid #d8d8d8;
    padding: 12px 0;
    margin-top: 80px;
  }

  .crs-title {
    position: relative;
    border-bottom: 1px solid #d8d8d8;
    font-size: 1.111rem;
    padding: 15px 20px;
    text-transform: uppercase;
    font-family: 'Avenir-Medium', sans-serif;
  }

  .crs-body {
    max-height: 0;
    overflow: hidden;
    font-size: 0.889rem;
    padding: 0 20px;
    @include transition(all, 0.3s, ease-in);

    .node--type-careers {
      background: #e2efff;
      padding: 5px 0;
      margin: 25px 0;

    }

    &.active {
      max-height: 1000px;
    }
  }

  .more-link {
    margin: 0;
    text-align: left;

    a {
      margin: 0px;
      border: none;
      padding: 0px;
      text-transform: unset;
      background: transparent;

      &:after {
        content: "\f105";
        font-family: 'Fontawesome 5 pro';
        padding-left: 10px;
        font-size: 1.111rem;
        vertical-align: middle;
      }

      &:hover {
        background: none;
        color: #00274c;
      }
    }
  }

  .exp-ico {
    &:before {
      position: absolute;
      top: 16px;
      right: 16px;
    }
  }
}

.field--name-field-heading {
  font-family: 'Open Sans Bold', sans-serif;
  margin-top: 20px;
  font-size: 1.111rem;
  color: #333333;
}

//Start application-deadline-table
.application-deadline-table {
  .view-content {
    position: relative;
    overflow: auto;

    table {
      margin: 0;
      width: 100%;
      position: relative;

      caption {
        position: absolute;
        width: 100%;
        padding: 10px 10px 10px 25px;
        text-align: left;
        display: block;
        background: #ccc;
        margin-top: 10px;
        top: 50px;
        color: #0d57aa;
      }

      thead {
        border-top: 5px solid #ffae00;

        tr {
          th {
            padding: 16px 30px;
            min-width: 137px;
            text-align: left;
            padding-bottom: 60px;
          }
        }
      }

      tbody {
        tr {
          border-bottom: 1px solid #e0e0e0;

          td {
            vertical-align: top;
            font-family: 'Avenir-Medium', sans-serif;
            font-size: 0.889em;
            padding: 12px 30px;
            line-height: 24px;
            max-width: 175px;

            .field--name-field-sub-text {
              font-family: 'Avenir-Light', sans-serif;
              line-height: 24px;
              letter-spacing: 0;
              font-size: 0.667em;
              color: #333333;
            }

            &:first-child {
              padding-left: 40px;
              line-height: 30px;
              max-width: 325px;
            }
          }
        }
      }

      &+table {
        thead {
          display: none;
        }

        caption {
          position: static;
          display: table-caption;
          margin: 0;
        }
      }
    }
  }

}


// dije-img-content
.dije-img-content {
  tbody {
    tr {
      td {
        &:first-child {
          width: 40%;
          text-align: center;
          vertical-align: top;
        }
      }
    }
  }
}

// dije-img-content

//End application-deadline-table

//Start custom-search
.custom-search-form {
  margin-top: 50px;

  form {
    div {
      input {
        width: 100%;
      }

      position: relative;

      &:after {
        content: "\f002";
        font-family: 'Fontawesome 5 pro';
        font-size: 23px;
        margin: 13px 20px;
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    .js-form-submit {
      display: none;
    }
  }
}

.form-item-search-api-fulltext {

  label,
  input {
    display: none;
  }

}

//End custom-search

@media (min-width: 480px) {
  .grd-lst {
    .view-header {
      .view-content {
        .views-row {
          flex: none;
          max-width: 100%;
        }
      }

      .field--name-field-media-type {
        img {
          width: 100%;
        }
      }
    }

    .view-content {
      @include flex;
      margin-left: -15px;
      margin-right: -15px;

      .views-row {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%;
        padding-left: 15px;
        padding-right: 15px;

        &:nth-of-type(2n+1) {
          clear: both;
        }
      }
    }
  }
}

@media (min-width: 568px) {
  .view-header {
    .result-summary {
      top: 10px;
    }
  }
}

@media (min-width: 640px) {
  .floor-plans {
    h3 {
      font-size: 2.667rem;
    }

    span {
      font-size: 1.111rem;
    }

    .field--name-field-document {
      font-size: 0.8em;
    }

    figure.embedded-entity {
      position: relative;

      figcaption {
        position: absolute !important;
        top: 33%;
      }
    }

    .grd-lst .view-header {
      .filter-blk {
        margin-bottom: 0;
      }
    }
  }
}

@media (min-width: 768px) {

  // start Courses and Syllabi
  .tbl-frmt {
    .view-content {
      overflow: hidden;
    }
  }

  .view-header {
    .filter-blk {
      font-size: 0.889rem;

      .newsfilter {
        padding: 7px 23px;
        margin-right: 20px;
      }

      .tb-grd {
        margin-left: 10px;

        a {
          margin-left: 17px;
        }
      }
    }
  }

  .view-filters {
    .views-exposed-form {
      fieldset {
        margin-left: 40px;

        .fieldset-wrapper {
          margin-left: 30px;
        }
      }

      #filterheader {

        .clrall,
        .selall {
          margin-top: 24px;
        }

        .filtby {
          font-size: 1.667rem;
          float: left;
          margin: 16px;
        }

        .filterblk {
          margin-top: 0;

          .filterbtn {
            margin-top: 8px;
            padding: 10px 40px;
            margin-right: 3px;
          }

          .close {
            margin: 7px 10px 0px 10px
          }
        }

        .blkleft {
          .filtby {
            float: left;
          }
        }
      }
    }
  }

  .light_blue {
    display: block;
  }

  .paragraph--type--banner-slider {
    .field--name-field-title {
      font-size: 3.778rem;
      max-width: 600px;
      padding: 15px 0;
    }
  }

  .ylw_bg.row1 {
    h2.block-title {
      font-size: 3.778rem;
    }
  }

  .grd-2-col {
    .layout--twocol {
      @include clearfix();
    }

    .layout__region--first,
    .layout__region--second {
      float: left;
      width: 50%;
      padding-right: 15px;
    }

    .layout__region--second {
      padding-left: 15px;
      padding-right: 0;
    }
  }

  //start collaborate-body
  .collaborate-body {
    margin-bottom: 20px;

    .collaborate-contengt {
      display: inline-block;
      float: left;
      width: 33.3%;
      padding-right: 10px;

      p {
        font-size: 0.9em;
      }
    }
  }

  //end start collaborate-body
  .con-apply {
    display: none;
  }

  .con-career {
    display: none;
  }

  .field--name-field-heading {
    margin-left: 27%;
    margin-top: 40px;
    font-size: 1.389rem;
  }
}

@media (min-width: 1024px) {
  .grd-lst {
    .view-content {
      .views-row {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%;
      }
    }

    &.grd-3 {
      .view-content {
        .views-row {
          -ms-flex-preferred-size: 33.33%;
          flex-basis: 33.33%;
          max-width: 33.33%;
          // &:nth-of-type(2n+1) {
          //   clear: none;
          // }
          // &:nth-of-type(3n+3) {
          //   clear: right;
          // }
          // &:nth-of-type(4n+4) {
          //   clear: none;
          // }
        }
      }
    }

    &.grd-2 {
      .view-content {
        .views-row {
          -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
          max-width: 50%;
          // &:nth-of-type(2n+1) {
          //   clear: none;
          // }
          // &:nth-of-type(3n+3) {
          //   clear: right;
          // }
          // &:nth-of-type(4n+4) {
          //   clear: none;
          // }
        }
      }
    }

    .view-filters {
      .views-exposed-form {
        [data-drupal-selector="edit-field-news-type"].form-item {
          margin-right: 40px;
        }

        #filterheader {
          .filterblk {
            .close {
              margin: 12px 10px 0px 10px;
            }
          }
        }
      }
    }
  }

  .std-org {
    .view-content {
      .views-row {
        padding: 0 50px;
      }
    }
  }

  .paragraph--type--banner-slider {
    .field--name-field-title {
      font-size: 3.778rem;
      max-width: 900px;
      padding: 30px 0;
    }
  }

  .mnu_bar {
    div [role="navigation"] {
      padding: 27px 0;
      box-shadow: none;
    }

    div [data-block-plugin-id="system_menu_block:programs-menu"] {
      display: block;
    }

    ul.menu {
      display: block;
    }

    .button-dropdown {
      display: none;
    }
    .pager{
      li{
        a{
          color:#0d57aa;
        }
      }
    }
  }


  //start collaborate-body
  .collaborate-body {
    margin-bottom: 38px;

    p {
      margin-bottom: 35px;
    }

    .collaborate-contengt {
      padding: 0 17px;

      p {
        font-size: 1.111em;
      }
    }
  }

  //end start collaborate-body
}

@media (min-width: 1200px) {
  .grd-lst {
    .view-filters {
      .views-exposed-form {
        [data-drupal-selector="edit-field-news-type"].form-item {
          margin-right: 60px;
          margin-top: 6px;
        }

        [data-drupal-selector="edit-field-tags"] {
          .form-item {
            width: 32% !important;
          }
        }

      }
    }
  }

  .mnu_bar {
    div [data-block-plugin-id="system_menu_block:programs-menu"] {
      ul.menu>li {
        padding: 0 3.8%;
      }
    }
  }

  .paragraph--type--banner-slider {
    .field--name-field-title {
      font-size: 3.778rem;
      max-width: 1030px;
      padding: 30px 0;
    }
  }

  .mr-evtg.list-view {
    .view-content {
      .views-row {
        .field--name-dynamic-token-fieldnode-events-tags-list-view {
          width: 330px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .drty-lst {

    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
      padding: 15px 0;

      .views-field-nothing,
      .views-field-name {
        width: 100% !important;
        padding-left: 20px;
      }

      &>td {
        padding: 5px 20px !important;
        height: unset;
      }
    }
  }

}

@media (max-width: 1023px) {

  .mr-evtg.list-view,
  .rfl-plans.list-view {
    .lst-header {
      display: none;
    }

    .view-content {
      .views-row {
        padding: 15px 0;

        .field {
          float: unset;
          text-align: left;
          padding: 5px 0;
          padding-left: 35%;
          position: relative;
          width: auto;
          margin: 0px;

          &::before {
            position: absolute;
            top: 5px;
            left: 6px;
            width: 30%;
            padding-right: 10px;
            display: block;
            color: #000;
            padding: 0;
            font-family: 'OpenSans', sans-serif;
            font-size: 0.889rem;
          }
        }

        .field--name-field-event-start-date {
          position: relative;

          &::before {
            content: "Date";
          }
        }

        .field--name-node-title {
          &::before {
            content: "Description";
          }
        }

        .field--name-field-display-event-time {
          &::before {
            content: "Time";
          }
        }

        .field--name-field-events-type {
          &::before {
            content: "Type";
          }
        }

        .field--name-dynamic-token-fieldnode-events-tags-list-view {
          &::before {
            content: "Topic";
          }
        }

        .field--name-dynamic-token-fieldnode-room-seating-capacity-for-table {
          &::before {
            content: "Seating";
          }
        }

        &>.layout>.layout__region {
          text-align: center;
          padding: 0 10px 0 10px;
        }

        &:first-child {
          margin-top: 50px;
        }
      }
    }
  }

  .rfl-plans.list-view {
    .view-content {
      .views-row {
        .field--name-node-title {
          &::before {
            content: "Name";
          }
        }
      }
    }
  }
}
