/**
 * Clearfix
*/
/**
 * Buttons
*/
.box {
  padding: 10px 30px; }

/**
 * Css3 Extensions
*/
/**
 * Flex
*/
/**
 * Invisible
*/
.header {
  padding: 15px 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #00274c;
  position: -moz-sticky;
  position: -o-sticky;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0; }
  .header .block-block-content {
    padding-top: 0; }
    .header .block-block-content .field--name-body {
      text-align: left;
      font-size: inherit;
      max-width: none;
      margin-bottom: 0; }
  .header .hdr-btm {
    position: fixed;
    left: -100%;
    top: 0;
    height: 100%;
    z-index: 10;
    font: 1rem "Open Sans Regular", "Helvetica", "Arial", sans-serif;
    color: #fff;
    background: #ffcb05;
    width: 100%;
    max-width: 270px;
    padding: 0;
    overflow: auto;
    -webkit-transition: left 0.3s linear;
    -moz-transition: left 0.3s linear;
    -ms-transition: left 0.3s, linear;
    -o-transition: left 0.3s linear;
    transition: left 0.3s linear; }
    .header .hdr-btm.active-menu {
      left: 0; }
      .header .hdr-btm.active-menu:after {
        position: fixed;
        content: "";
        display: block;
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
        background: rgba(0, 0, 0, 0.75);
        z-index: -1; }
      .header .hdr-btm.active-menu .cls-icon {
        left: 275px; }
    .header .hdr-btm .cls-icon {
      position: fixed;
      width: 35px;
      height: 35px;
      top: 20px;
      left: -100%;
      z-index: 3;
      cursor: pointer;
      -webkit-transition: left 0.3s linear;
      -moz-transition: left 0.3s linear;
      -ms-transition: left 0.3s, linear;
      -o-transition: left 0.3s linear;
      transition: left 0.3s linear; }
      .header .hdr-btm .cls-icon:before, .header .hdr-btm .cls-icon:after {
        content: "";
        height: 4px;
        width: 100%;
        background: #fff;
        position: absolute;
        top: 50%; }
      .header .hdr-btm .cls-icon:before {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      .header .hdr-btm .cls-icon:after {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg); }

.blk-logo a {
  border: 0; }

.hdr-mbl {
  padding: 0 15px;
  height: 30px; }
  .hdr-mbl .mbl-logo {
    display: inline-block;
    width: 160px;
    border: 0; }
  .hdr-mbl .bars {
    cursor: pointer;
    width: 25px; }
    .hdr-mbl .bars .bar {
      height: 3px;
      width: 100%;
      margin-top: 7px;
      background: #fff;
      display: block; }
      .hdr-mbl .bars .bar:first-child {
        margin-top: 3px; }

.menu .field--name-field-image {
  display: none; }

.main-menu ul.menu {
  margin: 0;
  padding: 0;
  list-style: none outside none; }
  .main-menu ul.menu li a, .main-menu ul.menu li > span {
    font-size: 16px;
    display: inline-block;
    color: #fff;
    border-bottom: 0; }
    .main-menu ul.menu li a:hover, .main-menu ul.menu li a:focus, .main-menu ul.menu li > span:hover, .main-menu ul.menu li > span:focus {
      border-bottom: 0; }

.main-menu > .menu:after {
  content: '';
  display: table;
  clear: both; }

.main-menu > .menu > li {
  display: block;
  margin: 10px 0;
  padding: 0.5rem 0; }
  .main-menu > .menu > li > ul.menu > li > span {
    text-transform: uppercase;
    color: #ffcb05; }
  .main-menu > .menu > li > ul.menu > li > ul.menu {
    font-size: 0.75em;
    border-left: 1px solid #ffcb05;
    margin-top: 15px; }
    .main-menu > .menu > li > ul.menu > li > ul.menu > li {
      padding: 5px 15px; }
      .main-menu > .menu > li > ul.menu > li > ul.menu > li:first-child {
        padding-top: 0;
        margin-top: 8px; }
      .main-menu > .menu > li > ul.menu > li > ul.menu > li:last-child {
        padding-bottom: 0;
        margin-bottom: 8px; }

.main-menu.active-menu {
  left: 0; }

@media (min-width: 480px) {
  .header .hdr-btm {
    max-width: 400px; }
    .header .hdr-btm.active-menu .cls-icon {
      left: 420px; } }

@media (min-width: 640px) {
  .header .hdr-btm {
    max-width: 500px; }
    .header .hdr-btm.active-menu .cls-icon {
      left: 520px; } }

@media (min-width: 1024px) {
  .header-wrp {
    transition: background-color 0.5s ease;
    background-color: #00274c;
    position: -moz-sticky;
    position: -o-sticky;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3; }
    .header-wrp:hover .header .hdr-btm > .inside {
      transition: background-color 0.5s ease;
      background-color: #00274c; }
  .page-move-down .header-wrp .header .hdr-btm > .inside {
    background-color: #00274c; }
  .header {
    padding: 0;
    z-index: auto;
    position: relative;
    background: none; }
    .header .hdr-btm {
      position: relative;
      left: auto;
      z-index: auto;
      max-width: 100%;
      background: none;
      overflow: unset; }
      .header .hdr-btm .cls-icon {
        display: none; }
      .header .hdr-btm > .inside {
        position: relative;
        z-index: 2;
        background-color: transparent; }
  .main-menu > .menu li {
    display: none; }
    .main-menu > .menu li.menu-item {
      display: block; }
  .blk-logo {
    display: inline-block;
    vertical-align: middle;
    width: 150px;
    padding: 0; }
  .main-menu {
    position: static;
    height: 100%;
    width: calc(100% - 155px);
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    min-height: auto !important; }
    .main-menu > ul.menu {
      height: 100%;
      float: right; }
      .main-menu > ul.menu > li.menu-item {
        text-align: center;
        margin: 0;
        padding: 25px 10px;
        display: inline-block;
        position: static; }
        .main-menu > ul.menu > li.menu-item > a {
          font-family: "Open Sans SemiBold";
          font-weight: 600; }
        .main-menu > ul.menu > li.menu-item a.next-button {
          display: none !important; }
        .main-menu > ul.menu > li.menu-item:last-child {
          padding-right: 0; }
        .main-menu > ul.menu > li.menu-item::after {
          content: "";
          display: block;
          height: 4px;
          background: transparent;
          position: relative;
          top: 6px; }
        .main-menu > ul.menu > li.menu-item:hover::after {
          background: #ffcb05; }
        .main-menu > ul.menu > li.menu-item > ul.menu {
          display: table !important;
          visibility: hidden;
          width: 100%;
          position: absolute;
          left: 0;
          top: 100%;
          padding: 30px 17px 20px;
          background: #00274c;
          opacity: 0;
          transition: opacity 0.5s ease;
          z-index: 2; }
          .main-menu > ul.menu > li.menu-item > ul.menu > li.menu-item {
            text-align: left;
            float: left;
            width: 33.33%; }
            .main-menu > ul.menu > li.menu-item > ul.menu > li.menu-item > ul {
              display: block !important; }
              .main-menu > ul.menu > li.menu-item > ul.menu > li.menu-item > ul > li a {
                border-bottom: 2px solid transparent;
                display: inline; }
                .main-menu > ul.menu > li.menu-item > ul.menu > li.menu-item > ul > li a:hover {
                  border-color: #fff; }
            .main-menu > ul.menu > li.menu-item > ul.menu > li.menu-item > .field__item {
              padding-left: 15px;
              padding-right: 15px; }
          .main-menu > ul.menu > li.menu-item > ul.menu > li.menu-item-vc {
            width: 28%;
            float: right; }
            .main-menu > ul.menu > li.menu-item > ul.menu > li.menu-item-vc .field--name-node-title {
              font-family: "Avenir-Medium", sans-serif;
              font-weight: 900;
              margin-top: 15px;
              font-size: 0.889rem; }
              .main-menu > ul.menu > li.menu-item > ul.menu > li.menu-item-vc .field--name-node-title p {
                margin: 0; }
              .main-menu > ul.menu > li.menu-item > ul.menu > li.menu-item-vc .field--name-node-title a {
                display: inline; }
                .main-menu > ul.menu > li.menu-item > ul.menu > li.menu-item-vc .field--name-node-title a:hover {
                  border-bottom: 2px solid #fff; }
        .main-menu > ul.menu > li.menu-item.menu-vc-2 > ul.menu > li.menu-item {
          padding-right: 100px;
          width: 44%; }
          .main-menu > ul.menu > li.menu-item.menu-vc-2 > ul.menu > li.menu-item > .field__item {
            float: left;
            width: 50%; }
        .main-menu > ul.menu > li.menu-item.menu-vc-2 > ul.menu > li.menu-item-vc {
          width: 56%;
          padding-right: 0; }
        .main-menu > ul.menu > li.menu-item:hover > ul.menu, .main-menu > ul.menu > li.menu-item[data-menuitem='true'] > ul.menu {
          visibility: visible;
          opacity: 1; }
  .nav-ico, .utl-mnu-mbl, .hdr-mbl {
    display: none; }
  .menu-skd .header-wrp {
    background-color: #00274c; } }

@media (min-width: 1100px) {
  .blk-logo {
    width: 200px; }
  .main-menu {
    width: -moz-calc(100% - 205px);
    width: -webkit-calc(100% - 205px);
    width: calc(100% - 205px); } }

@media (min-width: 1200px) {
  .main-menu > ul.menu > li.menu-item {
    padding-left: 15px;
    padding-right: 15px; }
    .main-menu > ul.menu > li.menu-item > a {
      font-size: 1em; } }

@media (max-width: 1023px) {
  .hdr-btm .container {
    padding: 0;
    height: 100%;
    background: #ffcb05; }
    .hdr-btm .container .blk-logo, .hdr-btm .container .main-menu {
      position: relative;
      background: #00274c; }
    .hdr-btm .container .blk-logo {
      padding: 15px 20px; }
      .hdr-btm .container .blk-logo img {
        width: 150px; }
  .hdr-btm .mobile-mega-menu {
    height: auto; }
  .hdr-btm.hd-submenu .mobile-mega-menu {
    height: 100%;
    overflow-y: auto; }
  .hdr-btm .uty-nav-menu, .hdr-btm .vstr-role {
    background: #ffcb05;
    margin-top: 0; }
    .hdr-btm .uty-nav-menu ul.menu, .hdr-btm .vstr-role ul.menu {
      margin: 0;
      padding: 15px 0; }
      .hdr-btm .uty-nav-menu ul.menu li, .hdr-btm .vstr-role ul.menu li {
        padding: 10px 20px; }
        .hdr-btm .uty-nav-menu ul.menu li a, .hdr-btm .vstr-role ul.menu li a {
          text-decoration: none;
          font-size: 16px; }
  .hdr-btm .uty-nav-menu {
    border-bottom: 1px solid rgba(238, 238, 238, 0.7); }
  .hdr-btm .vstr-role {
    border-top: 1px solid rgba(179, 179, 179, 0.3); }
  .hdr-btm .main-menu {
    padding: 15px 0 15px 20px; }
    .hdr-btm .main-menu > ul.menu {
      position: relative; }
      .hdr-btm .main-menu > ul.menu > li.menu-item > a.is-active {
        border-bottom: 4px solid #ffcb05;
        padding-bottom: 4px; }
      .hdr-btm .main-menu > ul.menu > li.menu-item > a.next-button {
        position: absolute;
        right: 10px; }
      .hdr-btm .main-menu > ul.menu > li.menu-item > ul.menu {
        position: absolute;
        padding-left: 0 !important;
        padding-right: 0 !important; }
        .hdr-btm .main-menu > ul.menu > li.menu-item > ul.menu > li.menu-item-vc {
          display: none; }
        .hdr-btm .main-menu > ul.menu > li.menu-item > ul.menu > li a.back-button {
          background: transparent;
          padding: 10px 0; }
        .hdr-btm .main-menu > ul.menu > li.menu-item > ul.menu > li a.next-button {
          display: none; }
        .hdr-btm .main-menu > ul.menu > li.menu-item > ul.menu > li > ul {
          display: block !important;
          position: relative;
          left: 0; }
          .hdr-btm .main-menu > ul.menu > li.menu-item > ul.menu > li > ul > li a.back-button {
            display: none; }
          .hdr-btm .main-menu > ul.menu > li.menu-item > ul.menu > li > ul > li a.next-button {
            display: none; }
  .hdr-btm.hd-submenu .uty-nav-menu, .hdr-btm.hd-submenu .vstr-role {
    display: none; } }

@media (min-width: 640px) {
  .rf-plans p {
    padding: 0 15%; } }
