/**
 * Clearfix
*/
/**
 * Buttons
*/
.box {
  padding: 10px 30px; }

/**
 * Css3 Extensions
*/
/**
 * Flex
*/
/**
 * Invisible
*/
.block-webform form #edit-title {
  font-size: 2.667em;
  font-weight: 400;
  color: #00274c;
  letter-spacing: -2px;
  line-height: 35px; }
  .block-webform form #edit-title p {
    margin: 0;
    line-height: 44px; }

.block-webform form #edit-title-description {
  font-size: 1.111em;
  font-family: 'OpenSans', sans-serif;
  letter-spacing: 0;
  color: #00274c; }

.block-webform form .form-item-email input {
  height: 49px;
  border-radius: 4px;
  border: none;
  padding: 10px;
  width: 230px; }

.block-webform form .form-actions .form-submit {
  padding: 9px 26px; }

.webform-submission-form .form-item .form-text, .webform-submission-form .form-item .form-email, .webform-submission-form .form-item .form-tel, .webform-submission-form .form-item .form-date, .webform-submission-form .form-item .form-time {
  width: 100%;
  border: 1px solid #979797;
  border-radius: 5px;
  display: block;
  font-size: 18px;
  max-width: 100%;
  padding: 16px;
  height: 58px;
  font-family: 'Open Sans Regular', sans-serif; }
  .webform-submission-form .form-item .form-text:focus, .webform-submission-form .form-item .form-text:hover, .webform-submission-form .form-item .form-email:focus, .webform-submission-form .form-item .form-email:hover, .webform-submission-form .form-item .form-tel:focus, .webform-submission-form .form-item .form-tel:hover, .webform-submission-form .form-item .form-date:focus, .webform-submission-form .form-item .form-date:hover, .webform-submission-form .form-item .form-time:focus, .webform-submission-form .form-item .form-time:hover {
    border-color: #0D57AA; }

.webform-submission-form .form-item .form-textarea {
  width: 100%;
  border: 1px solid #979797;
  font-size: 18px;
  border-radius: 5px;
  max-width: 100%;
  min-width: 100%;
  padding: 16px;
  font-family: 'Open Sans Regular', sans-serif; }
  .webform-submission-form .form-item .form-textarea:focus, .webform-submission-form .form-item .form-textarea:hover {
    border-color: #0D57AA; }

.webform-submission-form .form-item .select2-container .select2-selection--single {
  border: 1px solid #979797;
  border-radius: 5px;
  height: 58px; }
  .webform-submission-form .form-item .select2-container .select2-selection--single .select2-selection__rendered {
    padding: 13px; }
    .webform-submission-form .form-item .select2-container .select2-selection--single .select2-selection__rendered .select2-selection__placeholder {
      color: #7f7f7f;
      font-family: 'Open Sans Regular', sans-serif; }
  .webform-submission-form .form-item .select2-container .select2-selection--single .select2-selection__arrow {
    top: 15px; }

.webform-submission-form .form-item p {
  font-size: 0.778em; }
  .webform-submission-form .form-item p a {
    word-wrap: break-word; }

.webform-submission-form .form-item.js-form-type-processed-text {
  padding-top: 30px; }
  .webform-submission-form .form-item.js-form-type-processed-text:before {
    content: '';
    height: 1px;
    background: #d2d2d2;
    display: block; }

.webform-submission-form .form-actions {
  float: right;
  margin: 0; }
  .webform-submission-form .form-actions .form-submit {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    border-radius: 30px;
    font-family: "Avenir-Medium",sans-serif;
    white-space: initial;
    border-bottom: 0;
    border: 1px solid #ffcb05;
    background: #ffcb05;
    color: #0d57aa; }
    .webform-submission-form .form-actions .form-submit:hover, .webform-submission-form .form-actions .form-submit:focus {
      text-decoration: none;
      border-bottom: 0; }
    .webform-submission-form .form-actions .form-submit:hover, .webform-submission-form .form-actions .form-submit:active, .webform-submission-form .form-actions .form-submit:focus {
      border: 1px solid #0d57aa;
      background-color: #0d57aa;
      color: #fff; }
    .webform-submission-form .form-actions .form-submit:active {
      background-color: #00274c;
      color: #fff; }

@media (min-width: 568px) {
  .block-webform form .form-item-email {
    display: inline; }
    .block-webform form .form-item-email input {
      width: 319; }
  .block-webform form .form-actions {
    display: inline; }
    .block-webform form .form-actions .form-submit {
      margin-left: 23px; } }

@media (min-width: 768px) {
  .webform-submission-form {
    margin: 0 -15px; }
    .webform-submission-form .form-item {
      float: left;
      width: 50%;
      padding: 0 15px; }
      .webform-submission-form .form-item:nth-child(2n+1) {
        clear: left; }
      .webform-submission-form .form-item.js-form-type-textarea, .webform-submission-form .form-item.js-form-type-processed-text {
        float: none;
        width: 100%;
        clear: both; } }
